@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');



.footercontainer{
	width:100%;
	margin: 0 auto;
}

footer {
   background-color:#f1c7b2;
   font-family: 'Work Sans', sans-serif;
   font-weight: 600;
   color:white;
   height:150px;
   
}

.lastfooter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lastfooter li {
  display: inline-flex;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}
.lastfooter a {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}


#social_img{
	margin-left:390px;
}

#aya{
	margin-left:83%;
	 color:white;
	 }
	 
p{
	 color:white;}