.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  .overlay-content {
    text-align: center;
    position: relative;

}


/* Use this class in a div, h2, or p to center the overlayed text */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
