.parallax {
  /* The image used */
  background-image: url("ContactUs.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:30px;
}

.parallax1 {
  /* The image used */
  background-image: url("yoga.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:30px;
}

.parallax2 {
  /* The image used */
  background-image: url("bodyStrengthBack.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:50px;
}

.parallax3 {
  /* The image used */
  background-image: url("cardio.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:50px;
}

.parallax4 {
  /* The image used */
  background-image: url("aerobics.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:50px;
}

.parallax5 {
  /* The image used */
  background-image: url("bodypump.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:50px;
}


.parallax6 {
  /* The image used */
  background-image: url("crossfit.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:50px;
}


.circleBullet 
{
	 list-style-type: circle;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c08879;
  padding:10px;
   border-radius: 8px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #c08879;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f1c7b2;
}

.container1 {
  border-radius: 5px;
  background-color: #fdf0e8;
  
}






@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
}

.container {
	width: 80%;
	margin: 0 auto;
}

#logo{
width: 100px;
height:100 px;
float: left;
padding: 10px 0;
}


header {
  background: #f1c7b2;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  top: 10px;
  position: absolute;
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-flex;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #F8F0E3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #F8F0E3;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width:125px;
  overflow-y:scroll;
  overflow-x:hidden;
  
  height:100px;
  
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}




#searchInput {
    height: 25px;
    padding: 10px;
	border:none;
    border-radius:5px 0px 0px 5px ;
}
#searchButton{
  float: right;
  background: #ddd;
  font-size: 17px;
  border: none;
  border-radius:0px 5px 5px 0px ;
  cursor: pointer;
}

.fixedElement {
    position:fixed;
    top:0;
    width:100%;
	margin-top:450px;
   
}
  
  
  
	
